@model IEnumerable<Medicaldrugstore.Models.ProductCategory>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = Resources.ProductCategory_Title;
}
<div class="clear"></div>
<div class="for-Toolbar">
    @(Html.Kendo().ToolBar()
    .Name("ToolBar")
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Togglable(false).Text(@Resources.General_NewRecord).Id("btnNew").Click("CreateProductCategory");
        items.Add().Type(CommandType.Button).Togglable(false).Text(@Resources.General_Details).Id("btnDetails").Click("ShowDetails");
    })
    )
    @* Search Panel - Right Slide *@
    <div class="right-slidePanel">
        <div class="slidePanel-Content">
            <div class="slidePanel-btn">
            </div>
            <div class="slidePanel-Content-fields create-item">
                <h4>@Resources.General_Search</h4>
                <div class="form-group margin-5-0">
                    <input id="prmProductCategoryCode" class="k-textbox" placeholder=@Resources.ProductCategory_Code />
                </div>
                <div class="form-group margin-5-0">
                    <input id="prmProductCategoryName" class="k-textbox" placeholder=@Resources.ProductCategory_Name />
                </div>
                <div class="form-group btns align-right">
                    <button type="submit" id="rtSearch" class="k-button" onclick="return Search();"><i class="glyphicon glyphicon-search"></i> @Resources.General_Search</button>
                    <button type="submit" class="k-button" onclick="return Clear();"><i class="glyphicon glyphicon-minus"></i> @Resources.General_Clean</button>
                </div>
            </div>
        </div>
    </div>
</div>
            <script type="text/javascript">
                function Search() {
                    $("#ProductCategory").data("kendoGrid").dataSource.read();
                    $("#ProductCategory").data("kendoGrid").refresh();
                    return false;
                }
                function Clear() {
                    $("#prmProductCategoryCode").val("");
                    $("#prmProductCategoryName").val("");
                    $("#ProductCategory").data("kendoGrid").dataSource.read();
                    $("#ProductCategory").data("kendoGrid").refresh();
                    return false;
                }
                function getParameter() {
                    return {
                        productCategoryCode: $("#prmProductCategoryCode").val(),
                        productCategoryName: $("#prmProductCategoryName").val()
                    };
                }
            </script>


@(Html.Kendo().Grid<Medicaldrugstore.Models.ProductCategory>()
                        .Name("ProductCategory")
                        .Columns(columns =>
                        {
                            columns.Bound(model => model.ProductCategoryCode).Width(80);
                            columns.Bound(model => model.ProductCategoryName);
                            columns.Command(commands =>
                            {
                                commands.Custom("Update").Text(" ").Click("UpdateProductCategory");
                                commands.Custom("Delete").Text(" ").Click("DeleteProductCategory");
                                //commands.Edit().Text(" ").CancelText(Resources.General_Close).UpdateText(Resources.General_Save);
                                //commands.Destroy().Text(" ");
                            }).Title(Resources.General_Commands).Width(130);
                        })
                        //.ToolBar(toolbar =>
                        //{
                        //    toolbar.Create().Text(Resources.General_NewRecord);
                        //    toolbar.Custom().Name("showDetails").Text(Resources.General_Details).Url("#").HtmlAttributes(new { onclick = "ShowDetails();" });
                        //})
                        //.Editable(editable =>
                        //{
                        //    editable.Mode(GridEditMode.PopUp).TemplateName("MainTemplate").Window(w => w.Title(Resources.ProductCategory_Title).Width(580));
                        //    editable.DisplayDeleteConfirmation(Resources.General_Delete_Record);
                        //})
                        .Selectable(s => s.Mode(Kendo.Mvc.UI.GridSelectionMode.Single))
                        .Events(e => e.DataBound("onRowBound"))
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Scrollable()
                        .Resizable(resize => resize.Columns(true))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Sortable()
                        .HtmlAttributes(new { style = "height:620px;" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadProductCategorys", "ProductCategories").Data("getParameter"))
                        //.Create(read => read.Action("CreateProductCategory", "ProductCategories"))
                        //.Update(read => read.Action("UpdateProductCategory", "ProductCategories"))
                        //.Destroy(read => read.Action("DestroyProductCategory", "ProductCategories"))
                        .PageSize(15)
                        .Model(model => model.Id(p => p.ProductCategoryId))
)
        )


        @(Html.Kendo().Window().Name("window").Width(550)
            .Height(120).Draggable()
            .Resizable().Content("")
            .Title(Resources.ProductCategory_Title)
            .Modal(true)
            .Actions(actions => actions.Pin().Close())
            .Visible(false)
            .Events(events => events
            .Close("onClose").Open("onOpen").Refresh("onRefresh"))
              )

@(Html.Kendo().Window().Name("crtWindow").Width(450)
            .Height(150).Draggable()
            .Resizable().Content("")
            .Title(Resources.General_NewRecord)
            .Modal(true)
            .Actions(actions => actions.Pin().Close())
            .Visible(false)
            .Events(events => events
            .Close("onClose").Open("onOpen").Refresh("onRefresh"))
)
<script>
    function CreateProductCategory() {
        var window = $("#crtWindow").data("kendoWindow");
        window.content("");
        window.title("@Resources.General_NewRecord");

        window.refresh({
            url: "@Url.Action("OpenCreateProductCategoryView", "ProductCategories")"
        });
    window.center();
    window.open();
    return false;
    }

    function UpdateProductCategory(e) {
        var window = $("#crtWindow").data("kendoWindow");
        var row = $(e.target).closest("tr");
        var grid = $("#ProductCategory").data("kendoGrid");
        var dataItem = grid.dataItem(row);
        window.content("");
        window.title("@Resources.General_Edit");
        window.refresh({
            url: "@Url.Action("OpenUpdateProductCategoryView", "ProductCategories")" + "/" + dataItem.ProductCategoryId
        });
    window.center();
    window.open();
    return false;
    }

    function DeleteProductCategory(e) {
        var row = $(e.target).closest("tr");
        var grid = $("#ProductCategory").data("kendoGrid");
        var dataItem = grid.dataItem(row);
        var r = confirm("@Resources.General_Delete_Question");
        if (r == false) {
            return false;
        }
        var rt = false;
        var dt;
        var q = $.ajax({
            url: '@Url.Action("DeleteProductCategory", "ProductCategories")',
            dataType: "json",
            type: "GET",
            data: {
                id: dataItem.ProductCategoryId
            },
            async: false,
            success: function(data) {
                dt = data;
                rt = true;
            },
            error: function(xhr) {
                dt = xhr;
                rt = false;
            }
        });
        if (rt == true) {
            $("#ProductCategory").data("kendoGrid").dataSource.read();
            $("#ProductCategory").data("kendoGrid").refresh();
        } else {
            alert(dt);
            return false;
        }
        return false;
    }

    function ShowDetails() {
        var window = $("#window").data("kendoWindow");
        var grid = $("#ProductCategory").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {
            alert("@Resources.General_NotSelected");
            return false;
        }
        window.content("");
        window.title("@Resources.ProductCategory_Details_Title");
        window.refresh({
            url: "@Url.Action("ProductCategoryDetails", "ProductCategories")" + "/" + selectedItem.ProductCategoryId
        });
        window.center();
        window.open();
    }

    function onOpen(e) {
        kendo.ui.progress(e.sender.element, true);
    }
    function onClose() {
        $("#ProductCategory").data("kendoGrid").dataSource.read();
        $("#ProductCategory").data("kendoGrid").refresh();
    }
    function onRefresh(e) {
        kendo.ui.progress(e.sender.element, false);
    }
</script>
