@model IEnumerable<Medicaldrugstore.Models.OrganizationStore>

@{
    ViewBag.Title = Resources.OrganizationStore_Title;
}
<div class="clear"></div>
<div class="for-Toolbar">
    @(Html.Kendo().ToolBar()
    .Name("ToolBar")
    
    )
    @* Search Panel - Right Slide *@
    <div class="right-slidePanel">
        <div class="slidePanel-Content">
            <div class="slidePanel-btn">
            </div>
            <div class="slidePanel-Content-fields create-item">
                <h4>@Resources.General_Search</h4>
                <div class="form-group margin-5-0">
                    @(Html.Kendo().ComboBox()
                      .Name("prmOrganizationId")
                      .Placeholder(@Resources.OrganizationStore_OrganizationName)
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .Filter(FilterType.StartsWith)
                      .BindTo(ViewBag.vbOrganizations)
                      .HtmlAttributes(new { data_value_primitive = true, @class = "width100" })
                    )
                </div>
                <div class="form-group margin-10-0">
                    <label class="control-label" for="prmInitiationStartDate">Ամսաթիվ</label>
                    <div class="input-search data-period">
                        @(Html.Kendo().DatePicker()
                                    .Name("prmStartDate")
                                    .Value(DateTime.Today.AddMonths(-1))
                                    .HtmlAttributes(new { placeholder = @Resources.General_Start, @class = "width100" })
                        )
                        @(Html.Kendo().DatePicker()
                                    .Name("prmTerminationDate")
                                    .Value(DateTime.Today)
                                    .HtmlAttributes(new { placeholder = @Resources.General_End, @class = "width100" })
                        )
                    </div>
                </div>
                <div class="form-group btns align-right">
                    <button type="submit" id="rtSearch" class="k-button" onclick="return Search();"><i class="glyphicon glyphicon-search"></i> @Resources.General_Search</button>
                    <button type="submit" class="k-button" onclick="return Clear();"><i class="glyphicon glyphicon-minus"></i> @Resources.General_Clean</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Search() {
        $("#OrganizationStore").data("kendoGrid").dataSource.read();
        $("#OrganizationStore").data("kendoGrid").refresh();
        return false;
    }
    function Clear() {
        $("#prmOrganizationId").data("kendoComboBox").select(-1);
        //$("#prmOrganizationId").val("");
        $("#OrganizationStore").data("kendoGrid").dataSource.read();
        $("#OrganizationStore").data("kendoGrid").refresh();
        return false;
    }
    function getParameter() {
        return {
            organizationId: $("#prmOrganizationId").val(),
            startDate: $("#prmStartDate").val(),
            terminationDate: $("#prmTerminationDate").val(),
        };
    }
</script>


@(Html.Kendo().Grid<Medicaldrugstore.Models.OrganizationStore>()
                        .Name("OrganizationStore")
                        .Columns(columns =>
                        {
                            columns.Bound(model => model.ProductId);
                            columns.Bound(p => p.DrugName);
                            columns.Bound(model => model.OrganizationId).Hidden();
                            //columns.Bound(p => p.OrganizationName);
                            columns.Bound(model => model.InitialQuantity);
                            columns.Bound(model => model.InitialTotalCost);
                            columns.Bound(model => model.TerminalQuantity);
                            columns.Bound(model => model.TerminalTotalCost);
                            columns.Bound(model => model.InQuantity);
                            columns.Bound(model => model.InTotalCost);
                            columns.Bound(model => model.OutQuantity);
                            columns.Bound(model => model.OutTotalCost);

                        })
                        .Selectable(s => s.Mode(Kendo.Mvc.UI.GridSelectionMode.Single))
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Scrollable()
                        .ClientDetailTemplateId("template")
                        .Resizable(resize => resize.Columns(true))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Sortable()
                        //.HtmlAttributes(new { style = "height:620px;" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadOrganizationStores", "OrganizationStores").Data("getParameter"))
                        .PageSize(15)
                        .Model(model =>
                        {
                            model.Id(i => i.ProductId);
                            model.Id(i => i.OrganizationId);
                            model.Field(i => i.StartDate);
                            model.Field(i => i.TerminationDate);
                        })
)
)


@(Html.Kendo().Window().Name("window").Width(550)
            .Height(370).Draggable()
            .Resizable().Content("")
            .Title(Resources.OrganizationStore_Edit_Title)
            .Modal(true)
            .Actions(actions => actions.Pin().Close())
            .Visible(false)
            .Events(events => events
            .Close("onClose").Open("onOpen").Refresh("onRefresh"))
)
<script>
    @*function ShowDetails() {
        var window = $("#window").data("kendoWindow");
        var grid = $("#OrganizationStore").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {
            alert("@Resources.General_NotSelected");
            return false;
        }
        window.content(""),
        window.title("@Resources.OrganizationStore_Details_Title"),
        window.refresh({
            url: "@Url.Action("OrganizationStoreDetails", "OrganizationStores")" + "/" + selectedItem.ProductId
        });
        window.center();
        window.open();
    }*@

    function onOpen(e) {
        kendo.ui.progress(e.sender.element, true);
    }
    function onClose(e) {
        $("#OrganizationStore").data("kendoGrid").dataSource.read();
        $("#OrganizationStore").data("kendoGrid").refresh();
    }
    function onRefresh(e) {
        kendo.ui.progress(e.sender.element, false);
    }
</script>

<script type="text/javascript">
    $("#prmOrganizationId").width(280).kendoComboBox();
    $("#prmStartDate, #prmTerminationDate").width(120).DatePicker();
</script>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip()
          .Name("tabstrip_#=ProductId#_#=OrganizationId#")
          .SelectedIndex(0)
          .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
          .Items(items =>
          {          
          items.Add().Text("Մուտքեր").Content(@<text>
        @(Html.Kendo().Grid<Medicaldrugstore.Models.OrganizationStoreIns>()
                  .Name("storageStoreIns_#=ProductId#_#=OrganizationId#")
                  .Columns(columns =>
                  {
                      columns.Bound(model => model.ProductId).Hidden();
                      columns.Bound(model => model.DrugName).Hidden();
                      columns.Bound(model => model.OrganizationId).Hidden();
                      columns.Bound(model => model.ItemDate);
                      columns.Bound(model => model.Quantity);
                      columns.Bound(model => model.TotalCost);
                      columns.Bound(model => model.TypeName);
                  })
                        .Selectable(s => s.Mode(Kendo.Mvc.UI.GridSelectionMode.Single))
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Scrollable()
                        .Resizable(resize => resize.Columns(true))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Sortable()
                        .HtmlAttributes(new { style = "height:620px;" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadOrganizationStoreIns", "OrganizationStores", new { organizationId = "#=OrganizationId#", startDate = "#=StartDate#", terminationDate = "#=TerminationDate#", productId = "#=ProductId#" }))
                        .PageSize(15)

                        .Model(model =>
                        {
                            model.Id(i => i.ProductId);
                            model.Id(i => i.OrganizationId);
                        })

                    )
                    .ToClientTemplate()
        )
        </text>
                  );
          items.Add().Text("Ելքեր").Content(@<text>
        @(Html.Kendo().Grid<Medicaldrugstore.Models.OrganizationStoreOuts>()
                  .Name("storageStoreOuts_#=ProductId#_#=OrganizationId#")
                  .Columns(columns =>
                  {
                      columns.Bound(model => model.ProductId).Hidden();
                      columns.Bound(model => model.DrugName).Hidden();
                      columns.Bound(model => model.OrganizationId).Hidden();
                      columns.Bound(model => model.ItemDate);
                      columns.Bound(model => model.Quantity);
                      columns.Bound(model => model.TotalCost);
                      columns.Bound(model => model.TypeName);
                  })
                        .Selectable(s => s.Mode(Kendo.Mvc.UI.GridSelectionMode.Single))
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Scrollable()
                        .Resizable(resize => resize.Columns(true))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Sortable()
                        .HtmlAttributes(new { style = "height:620px;" })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("ReadOrganizationStoreOuts", "OrganizationStores", new { organizationId = "#=OrganizationId#", startDate = "#=StartDate#", terminationDate = "#=TerminationDate#", productId = "#=ProductId#" }))
                        .PageSize(15)

                        .Model(model =>
                        {
                            model.Id(i => i.ProductId);
                            model.Id(i => i.OrganizationId);
                        })

                    )
                    .ToClientTemplate()
        )
        </text>
                  );
          }
          )
          .ToClientTemplate())
</script>

