@model Medicaldrugstore.Models.RetransferDetails

@{
    Layout = null;
}

<div>
    <table class="table table-striped details">
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.RetransferDate)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.RetransferDate)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.BaseDocumentName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.BaseDocumentName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderOrganizationName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderOrganizationName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderOrganizationLocation)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderOrganizationLocation)</td>
        </tr>
        @*<tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderRegistrationNumber)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderRegistrationNumber)</td>
        </tr>*@
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderBankName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderBankName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderTinNumber)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderTinNumber)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderHeadName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderHeadName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderAccountantName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderAccountantName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.SenderResponsibleName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.SenderResponsibleName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverOrganizationName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverOrganizationName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverOrganizationLocation)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverOrganizationLocation)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverBankName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverBankName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverTinNumber)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverTinNumber)</td>
        </tr>        
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverHeadName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverHeadName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverAccountantName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverAccountantName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.ReceiverResponsibleName)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.ReceiverResponsibleName)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.RetransferTotal)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.RetransferTotal)</td>
        </tr>
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.Comment)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.Comment)</td>
        </tr>
    </table>
</div>

