@model IEnumerable<Medicaldrugstore.Models.Replacement>

@{
    ViewBag.Title = rsReplacement.ReplacementStorageTitle;
}
<div class="clear"></div>
<div class="for-Toolbar">
    @(Html.Kendo().ToolBar()
    .Name("ToolBar")
    .Items(items =>
    {
        items.Add().Type(CommandType.Button).Togglable(false).Text(@Resources.General_FinalComfirm).Id("btnComfirm").Click("ReceiveReplacement");
        items.Add().Type(CommandType.Button).Togglable(false).Text(@Resources.General_Details).Id("btnDetails").Click("ReplacementDetails");
    })
    )
    @* Search Panel - Right Slide *@
    <div class="right-slidePanel">
        <div class="slidePanel-Content">
            <div class="slidePanel-btn">
            </div>
            <div class="slidePanel-Content-fields create-item">
                <h4>@Resources.General_Search</h4>
                <div class="form-group margin-5-0">
                    @(Html.Kendo().ComboBox()
                .Name("prmSrcOrg")
                .DataTextField("Text")
                .Placeholder(@rsReplacement.SourceOrganizationName)
                .DataValueField("Value")
                .Filter(FilterType.StartsWith)
                .BindTo(ViewBag.vbSourceOrganizations)
                .HtmlAttributes(new { data_value_primitive = true })
                    )
                </div>
                <div class="form-group margin-5-0">
                    @(Html.Kendo().ComboBox()
                .Name("prmDstOrg")
                .DataTextField("Text")
                .Placeholder(@rsReplacement.DestinationOrganizationName)
                .DataValueField("Value")
                .Filter(FilterType.StartsWith)
                .BindTo(ViewBag.vbDestinationOrganizations)
                .HtmlAttributes(new { data_value_primitive = true })
                    )
                </div>
                <div class="form-group margin-5-0">
                    @(Html.Kendo().ComboBox()
                .Name("prmCnfOrg")
                .DataTextField("Text")
                .Placeholder(@rsReplacement.ConfirmOrganizationName)
                .DataValueField("Value")
                .Filter(FilterType.StartsWith)
                .BindTo(ViewBag.vbConfirmOrganizations)
                .HtmlAttributes(new { data_value_primitive = true })
                    )
                </div>
                <div class="form-group margin-5-0">
                    @(Html.Kendo().ComboBox()
                .Name("prmRplBase")
                .DataTextField("Text")
                .Placeholder(@rsReplacement.ReplacementBaseName)
                .DataValueField("Value")
                .Filter(FilterType.StartsWith)
                .BindTo(ViewBag.vbReplacementBases)
                .HtmlAttributes(new { data_value_primitive = true })
                    )
                </div>
                <div class="form-group margin-10-0">
                    <label class="control-label" for="prmInitiationStartDate">@rsReplacement.ReplacementBaseDate</label>
                    <div class="input-search data-period">
                        @(Html.Kendo().DatePicker()
                                    .Name("prmStRplBaseDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_Start, @class = "width100" })
                        )
                        @(Html.Kendo().DatePicker()
                                    .Name("prmTrRplBaseDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_End, @class = "width100" })
                        )
                    </div>
                </div>
                <div class="form-group margin-5-0">
                    @(Html.Kendo().ComboBox()
                .Name("prmRplStatus")
                .DataTextField("Text")
                .Placeholder(@rsReplacement.ReplacementStatusName)
                .DataValueField("Value")
                .Filter(FilterType.StartsWith)
                .BindTo(ViewBag.vbReplacementStatuses)
                .HtmlAttributes(new { data_value_primitive = true })
                    )
                </div>
                <div class="form-group margin-10-0">
                    <label class="control-label" for="prmInitiationStartDate">@rsReplacement.ReplacementDate</label>
                    <div class="input-search data-period">
                        @(Html.Kendo().DatePicker()
                                    .Name("prmStRplDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_Start, @class = "width100" })
                        )
                        @(Html.Kendo().DatePicker()
                                    .Name("prmTrRplDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_End, @class = "width100" })
                        )
                    </div>
                </div>
                <div class="form-group margin-10-0">
                    <label class="control-label" for="prmInitiationStartDate">@rsReplacement.ConfirmDate</label>
                    <div class="input-search data-period">
                        @(Html.Kendo().DatePicker()
                                    .Name("prmStConfirmDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_Start, @class = "width100" })
                        )
                        @(Html.Kendo().DatePicker()
                                    .Name("prmTrConfirmDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_End, @class = "width100" })
                        )
                    </div>
                </div>
                <div class="form-group margin-10-0">
                    <label class="control-label" for="prmInitiationStartDate">@rsReplacement.ReadyDate</label>
                    <div class="input-search data-period">
                        @(Html.Kendo().DatePicker()
                                    .Name("prmStReadyDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_Start, @class = "width100" })
                        )
                        @(Html.Kendo().DatePicker()
                                    .Name("prmTrReadyDate")
                                    .HtmlAttributes(new { placeholder = @Resources.General_End, @class = "width100" })
                        )
                    </div>
                </div>
                <div class="form-group btns align-right">
                    <button type="submit" id="rtSearch" class="k-button" onclick="return Search();"><i class="glyphicon glyphicon-search"></i> @Resources.General_Search</button>
                    <button type="submit" class="k-button" onclick="return Clear();"><i class="glyphicon glyphicon-minus"></i> @Resources.General_Clean</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document)
        .ready(function () {
            currentReplacementIndex = -1;
        });

    function Clear() {
        $("#prmSrcOrg").data("kendoComboBox").select(-1);
        $("#prmDstOrg").data("kendoComboBox").select(-1);
        $("#prmCnfOrg").data("kendoComboBox").select(-1);
        $("#prmRplBase").data("kendoComboBox").select(-1);
        $("#prmStRplBaseDate").val("");
        $("#prmTrRplBaseDate").val("");
        $("#prmRplStatus").data("kendoComboBox").select(-1);
        $("#prmStRplDate").val("");
        $("#prmTrRplDate").val("");
        $("#prmStConfirmDate").val("");
        $("#prmTrConfirmDate").val("");
        $("#prmStReadyDate").val("");
        $("#prmTrReadyDate").val("");

        $("#Replacement").data("kendoGrid").dataSource.read();
        return false;
    }

    function Search() {
        $("#Replacement").data("kendoGrid").dataSource.read();
        return false;
    }

    function getParameter() {
        return {
            srcOrgID: $("#prmSrcOrg").val(),
            dstOrgID: $("#prmDstOrg").val(),
            cnfOrgID: $("#prmCnfOrg").val(),
            rplBaseID: $("#prmRplBase").val(),
            stRplBaseDate: $("#prmStRplBaseDate").val(),
            trRplBaseDate: $("#prmTrRplBaseDate").val(),
            rplStatusID: $("#prmRplStatus").val(),
            stRplDate: $("#prmStRplDate").val(),
            trRplDate: $("#prmTrRplDate").val(),
            stConfirmDate: $("#prmStConfirmDate").val(),
            trConfirmDate: $("#prmTrConfirmDate").val(),
            stReadyDate: $("#prmStReadyDate").val(),
            trReadyDate: $("#prmTrReadyDate").val(),
        };
    }
</script>

@(Html.Kendo().Grid<Medicaldrugstore.Models.Replacement>()
      .Name("Replacement")
      .Events(events => events.DataBound("onReplacementDataBound").DetailInit("onReplacementDetailInit"))
      .Columns(columns =>
      {
          columns.ForeignKey(p => p.SourceOrganizationId, (List<SelectListItem>)ViewBag.vbOrganizations, "Value", "Text");
          columns.ForeignKey(p => p.ConfirmOrganizationId, (List<SelectListItem>)ViewBag.vbOrganizations, "Value", "Text");
          columns.ForeignKey(p => p.DestinationOrganizationId, (List<SelectListItem>)ViewBag.vbOrganizations, "Value", "Text");
          columns.Bound(model => model.ReplacementId).Hidden();
          columns.ForeignKey(p => p.ReplacementStatusId, (List<SelectListItem>) ViewBag.vbReplacementStatuses, "Value", "Text");
          columns.Bound(model => model.ReplacementDate).Width(145);
          columns.Bound(model => model.ConfirmDate).Width(165);
          columns.Bound(model => model.ReadyDate).Width(132);
          columns.Bound(model => model.ProvisionDate).Width(132);
          columns.Bound(model => model.ReceiveDate).Title(rsReplacement.ReceiveDateStorage).Width(144);
      })
      .Selectable(s => s.Mode(Kendo.Mvc.UI.GridSelectionMode.Single))
      .Pageable()
      .ClientDetailTemplateId("replacementProductTemplate")
      .Scrollable()
      .Sortable()
      .Resizable(resize => resize.Columns(true))
      .Reorderable(reorder => reorder.Columns(true))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("ReadStorageReplacements", "Replacements").Data("getParameter"))
          .Sort(sort => sort.Add("ReplacementId").Descending())
          .PageSize(15)
          .Model(model =>
          {
              model.Id(p => p.ReplacementId);
              model.Field(p => p.ReplacementDate).Editable(false);
              model.Field(p => p.ReadyDate).Editable(false);
              model.Field(p => p.SourceOrganizationId).Editable(false);
              model.Field(p => p.ConfirmOrganizationId).Editable(false);
              model.Field(p => p.DestinationOrganizationId).Editable(false);
              model.Field(p => p.ReplacementSum).Editable(false);
              model.Field(p => p.ReplacementStatusId).Editable(false);
          }
          )
)
)

@(Html.Kendo().Window().Name("wndReceiveReplacement")
                .Width(300).Height(120)
                .Draggable().Resizable()
                .Content("").Modal(true)
                .Actions(actions => actions.Pin().Close())
                .Visible(false)
                .Events(events => events
                .Close("onReceiveReplacementClose").Open("onReceiveReplacementOpen").Refresh("onReceiveReplacementRefresh"))
)

@(Html.Kendo().Window().Name("wndReplacementDetails")
                .Width(1068).Height(520)
                .Draggable().Resizable()
                .Content("").Modal(true)
                .Actions(actions => actions.Pin().Close())
                .Visible(false)
                .Events(events => events
                .Open("onReceiveReplacementOpen").Refresh("onReceiveReplacementRefresh"))
)

<script>
    function onReplacementDataBound(e) {
        if (currentReplacementIndex != -1) {
            var row = $(this.tbody).find("tr.k-master-row:eq(" + currentReplacementIndex + ")");
            this.expandRow(row);
        }
    }

    function onReplacementDetailInit(e) {
        currentReplacementIndex = $(e.masterRow).index(".k-master-row");
        var selectedItem = this.dataItem(e.masterRow);
        RPID = selectedItem.ReplacementId;
    }

    function ReceiveReplacement() {
        var window = $("#wndReceiveReplacement").data("kendoWindow");
        var grid = $("#Replacement").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {
            alert("@Resources.General_NotSelected");
            return false;
        }
        if (selectedItem.ReplacementStatusId != 4) {
            alert("«Մուտքագրում պահեստ» կարելի է տալ այն գրառմանը, որն ունի «Պահեստից ստացված» կարգավճակ:");
            return false;
        }
        window.content("");
        window.title("Հաստատել");
        window.refresh({
            url: "@Url.Action("ReceiveReplacement", "Replacements")" + "/" + selectedItem.ReplacementId
        });
        window.center();
        window.open();
        return false;
    }

    function ReplacementDetails() {
        var window = $("#wndReplacementDetails").data("kendoWindow");
        var grid = $("#Replacement").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {
            alert("@Resources.General_NotSelected");
            return false;
        }
        window.content("");
        window.title("@rsReplacement.DetailsTitle");
        window.refresh({
            url: "@Url.Action("ReplacementDetails", "Replacements")" + "/" + selectedItem.ReplacementId
        });
        window.center();
        window.open();
        return false;
    }

    function onReceiveReplacementOpen(e) {
        kendo.ui.progress(e.sender.element, true);
    }

    function onReceiveReplacementClose(e) {
        $("#Replacement").data("kendoGrid").dataSource.read();
        $("#Replacement").data("kendoGrid").refresh();
    }

    function onReceiveReplacementRefresh(e) {
        kendo.ui.progress(e.sender.element, false);
    }
</script>

<script id="replacementProductTemplate" type="text/kendo-tmpl">

    @(Html.Kendo().Grid<Medicaldrugstore.Models.ReplacementProduct>()
              .Name("ReplacementProduct_#=ReplacementId#")
              .Events(events => events.DataBound("onReplacementProductDataBound").DetailInit("onReplacementProductDetailInit"))
              .Columns(columns =>
              {
                  columns.Bound(p => p.ReplacementProductId).Hidden();
                  columns.Bound(o => o.ReplacementId).Hidden();
                  columns.ForeignKey(o => o.ProductId, (List<SelectListItem>) ViewBag.vbProducts, "Value", "Text");
                  columns.Bound(o => o.Quantity);
                  columns.Bound(o => o.ItemQuantity);
                  columns.Bound(o => o.UnitCost);
                  columns.Bound(o => o.TotalCost);
              })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(5)
                  .Read(read => read.Action("ReadReplacementProducts", "Replacements", new { id = "#=ReplacementId#" }))
                  .Model(model =>
                  {
                      model.Id(p => p.ReplacementProductId);
                  }
                  )
              )
              .ClientDetailTemplateId("replacementProductStorageTemplate")
              .Scrollable()
              .Pageable()
              .Sortable()
              .ToClientTemplate()
    )

</script>

<script>

    function onReplacementProductDataBound(e) {
        if (currentReplacementProductIndex != -1) {
            var row = $(this.tbody).find("tr.k-master-row:eq(" + currentReplacementProductIndex + ")");
            this.expandRow(row);
        }
    }

    function onReplacementProductDetailInit(e) {
        currentReplacementProductIndex = $(e.masterRow).index(".k-master-row");
        var selectedItem = this.dataItem(e.masterRow);
        RPPID = selectedItem.ReplacementProductId;
    }

</script>

<script id="replacementProductStorageTemplate" type="text/kendo-tmpl">

    @(Html.Kendo().Grid<Medicaldrugstore.Models.ReplacementProductStorage>()
              .Name("ReplacementProductStorage_#=ReplacementProductId#")
              .Columns(columns =>
              {
                  columns.Bound(p => p.ReplacementProductStorageId).Hidden();
                  columns.Bound(o => o.ReplacementProductId).Hidden();
                  columns.ForeignKey(o => o.StorageId, (List<SelectListItem>) ViewBag.vbStorages, "Value", "Text");
                  columns.Bound(o => o.Quantity);
                  columns.Bound(o => o.ItemQuantity);
                  columns.Bound(o => o.UnitCost);
                  columns.Bound(o => o.TotalCost);
                  columns.Command(commands =>
                  {
                      commands.Custom("UpdateReplacementProductStorage_#=ReplacementProductId#").Text(" ").Click("UpdateReplacementProductStorage").HtmlAttributes(new { @class = "Update_Icon" });
                      commands.Custom("DeleteReplacementProductStorage_#=ReplacementProductId#").Text(" ").Click("DeleteReplacementProductStorage").HtmlAttributes(new { @class = "Delete_Icon" });
                      //commands.Destroy().Text(" ");
                  }).Title(Resources.General_Commands).Width(130);
              })
              .ToolBar(toolbar =>
              {
                  toolbar.Custom().Name("CreateReplacementProductStorage_#=ReplacementProductId#").Text(Resources.Drug_DistributeDrug).HtmlAttributes(new { onclick = "return CreateReplacementProductStorage();" });
              })
              .Editable(editable =>
              {
                  editable.DisplayDeleteConfirmation(Resources.General_Delete_Record);
              })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(5)
                  .Read(read => read.Action("ReadReplacementProductStorages", "Replacements", new { id = "#=ReplacementProductId#" }))
                  .Model(model =>
                  {
                      model.Id(p => p.ReplacementProductStorageId);
                  }
                  )
              )
              .Scrollable()
              .Pageable()
              .Events(e => e.DataBound("onRowBound"))
              .Sortable()
              .ToClientTemplate()
    )

</script>

@(Html.Kendo().Window().Name("wndReplacementProductStorage")
                .Width(460).Height(150)
                .Draggable().Resizable()
                .Content("").Modal(true)
                .Actions(actions => actions.Pin().Close())
                .Visible(false)
                .Events(events => events
                .Close("onReplacementProductStorageClose").Open("onReplacementProductStorageOpen").Refresh("onReplacementProductStorageRefresh"))
)

<script>

    function CreateReplacementProductStorage() {
        var window = $("#wndReplacementProductStorage").data("kendoWindow");
        window.content("");
        window.title("@Resources.Drug_DistributeDrugEntry");
        window.refresh({
            url: '@Url.Action("ReplacementProductStorageTemplate", "Replacements")?replacementProductStorageId=' + 0 + '&replacementProductId=' + RPPID
        });
        window.center();
        window.open();
        return false;
    }

    function UpdateReplacementProductStorage(e) {
        var row = $(e.target).closest("tr");
        var gridName = "#ReplacementProductStorage_" + RPPID;
        var grid = $(gridName).data("kendoGrid");
        var dataItem = grid.dataItem(row);
        var window = $("#wndReplacementProductStorage").data("kendoWindow");
        window.title("Խմբագրել");
        window.refresh({
            url: '@Url.Action("ReplacementProductStorageTemplate", "Replacements")?replacementProductStorageId=' + dataItem.ReplacementProductStorageId + '&replacementProductId=' + RPPID
        });
        window.center();
        window.open();
        return false;
    }

    function DeleteReplacementProductStorage(e) {
        var row = $(e.target).closest("tr");
        var gridName = "#ReplacementProductStorage_" + RPPID;
        var grid = $(gridName).data("kendoGrid");
        var dataItem = grid.dataItem(row);
        var r = confirm("@Resources.General_Delete_Question");
        if (r == false) {
            return false;
        }
        var rt = false;
        var dt;
        var q = $.ajax({
            url: '@Url.Action("DeleteReplacementProductStorage", "Replacements")',
            dataType: "json",
            type: "GET",
            data: {
                id: dataItem.ReplacementProductStorageId
            },
            async: false,
            success: function (data) {
                dt = data;
                rt = true;
            },
            error: function (xhr) {
                dt = xhr;
                rt = false;
            }
        });
        if (rt == true) {
            $(gridName).data("kendoGrid").dataSource.read();
            $(gridName).data("kendoGrid").refresh();
        } else {
            alert(dt);
            return false;
        }
        return false;
    }

    function onReplacementProductStorageOpen(e) {
        kendo.ui.progress(e.sender.element, true);
    }

    function onReplacementProductStorageClose(e) {
        var gridName = "#ReplacementProductStorage_" + RPPID;
        $(gridName).data("kendoGrid").dataSource.read();
        $(gridName).data("kendoGrid").refresh();
    }

    function onReplacementProductStorageRefresh(e) {
        kendo.ui.progress(e.sender.element, false);
    }

</script>
