@model Medicaldrugstore.Models.PlacementRelease

@{
    Layout = null;
}

@using (Html.BeginForm("Release", "Placement", FormMethod.Post, new { id = "frmRelease" }))
{
    <div class="create-item">
        @Html.HiddenFor(model => model.PlacementId)
        @Html.HiddenFor(model => model.ReadyDate)
        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label" })
            @Html.Kendo().DatePickerFor(model => model.ReleaseDate).Min(@Model.ReadyDate.ToString())
            @*@*Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "" } })*@
            @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
        </div>
        <div class="clear"></div>
        <div class="form-group margin-10-0 align-right">
            <button id="rptSave" class="k-button"><i class="glyphicon glyphicon-floppy-disk"></i> @Resources.General_Save</button>
            <button id="rptCancel" class="k-button"><i class="glyphicon glyphicon-off"></i> @Resources.General_Close</button>
        </div>
        <div class="clear"></div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#rptCancel")
            .click(function () {
                $(this).closest(".k-window-content").data("kendoWindow").close();
                return false;
            });
        $("#rptSave")
            .click(function (e) {
                var errTmplt = '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em; padding:3px 5px;"><span class="fa fa-exclamation-triangle"></span> #=message#<div class="k-callout k-callout-n"></div></div>';
                var validator = $("#frmRelease").kendoValidator({
                    errorTemplate: errTmplt
                }).data("kendoValidator");
                if (!validator.validate()) {
                    return false;
                }
                var item = new Object();
                item.PlacementId = '@Model.PlacementId';
                item.ReleaseDate = document.getElementById("ReleaseDate").value;
                var rt = false;
                var dt;
                var q = $.ajax({
                    url: '@Url.Action("Release", "Placement")',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ placementRelease: item }),
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (data) {
                        dt = data;
                        rt = true;
                    },
                    error: function (xhr) {
                        dt = xhr;
                        rt = false;
                    }
                });
                if (rt == true) {
                    if (dt.success != true) {
                        alert(JSON.stringify(dt.responseText));
                        return false;
                    }
                    else {
                        $(this).closest(".k-window-content").data("kendoWindow").close();
                        return false;
                    }
                }
                else {
                    alert(JSON.stringify("Unknown error occured."));
                    return false;
                }
            });
    });
</script>